.section-main{
    background-color: black;
}

.section-main-box{
    width: 100%;
    margin: 0;
    
}

.section-main-box-img{
    padding-top: 0;
    height: 500px;
}

.carousel-item img {
    filter: brightness(50%);
    object-fit: cover;
    height: 300px;
}

.carousel-caption {
    bottom: 20px;
    }

.card {
    border: none;
    }

@media (max-width: 375px) {
    
    .section-main-box-img{
        padding-top: 0;
        height: 300px;
    }

    .carousel-item img {
        object-fit: cover;
        height: 200px;
    }

    h5{
        font-size: 1rem;
    }
}